/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.rel{
    position:relative;
}
.abs{
    position:absolute;
}
img{
    max-width: 100%;
}
.flex-box{
    display:flex;
    justify-content: space-between;
    
}

.mr{
    margin-right:0.3rem;
}



.capo{
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

header{
    background-color: rgba(255, 105, 0, 100%);
    min-height:85px;  
    line-height: 85px;
    color:white;
    position: fixed;
    width:100%; 
    z-index:2;
}
header .container .col:nth-of-type(2){
    width:50%;
}
header .container .col:nth-of-type(odd){
    width:25%;
}
header .container .col:nth-of-type(2) img{
    width:100%;
    vertical-align: middle;
}

.inizio{
    justify-content: flex-start;
}
.termine{
    justify-content: flex-end;
    align-items: center;
}

header.container div i {
    vertical-align: middle;
}
.col.second .contenitore {
    width:50%;
    margin: 0 auto;
}





main{
    padding-top:90px;
}

section.container{
    margin-top:1.5rem;
}
.container{
    width:80%;
    max-width:1000px;
    margin:0 auto;
    /*background-color: aqua; debug*/
}

.col{
    width:30%;
    
    /*background-color: red;*/
    /*min-height: 200px;*/
    margin-bottom: 1.5rem;

}
.cuore{
    padding:0.3em;
    background-color: white;
    right:0;
    top:10px;
    z-index: 1;
}
.sconto{
    bottom:15px;
    left:0;
    background-color: red;
    z-index: 1;
}
.info{
    bottom:15px;
    background-color: green;
    left:38px;
    z-index: 1;
}
.scambio{
    top:0;
    left:0;
}
.card:hover .scambio{
    display:none;
    cursor: pointer;
}

.cuore:hover{
    cursor: pointer;
    color:red;
}


.grassetto{
    font-weight: bold;
    text-transform: uppercase;
}
figcaption span:first-child{
    color:red;
}
.col:last-of-type .info{
    left:0;
}

footer{
    background-color: black;
    color: white;
    min-height:100px;
    display: flex;
    align-items: center;
}

footer .col{
    width:35%;

}
footer ul{
    font-size:0.7rem;
}
footer span{
    display: inline-block;
}

footer h3, footer span{
    margin-bottom:0.5rem;
}
footer .col:nth-of-type(2){
    text-align: right;
}